.graticule {
  fill: white;
  stroke: #cccccc;
  stroke-width: 0.3;
}
.polygon {
  opacity: 0.8;
  transition: fill 1s;
}

/* card style */
.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  h2 {
    margin: 40px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1px solid lightgray;
    box-shadow: 5px 5px 5px lightgray;
    width: min-content;
    padding: 30px;
  }  
}
